/*トップページの設定*/

/*background image setting*/
.bg_image {
    background: url(../images/bg_image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*navbar setting*/
.navbar-brand {
	height: 50px;
	margin-top: -6px;
}

/*navbar-nav setting*/
.navbar-nav {
	margin: 6px 0 8px 0;
	font-size: 150%;
}

/*navbar-toggle setting*/
.navbar-toggle {
	margin: 22px 15px 8px 0;
}

/*item new image setting*/
.item_new img {
	width: 100%;
	height: auto;
}

/*item new image caption*/
figure {
	position: relative;
	overflow: hidden;
	width: 100%;
}
figcaption {
	position: absolute;
	bottom: 30px;
	right: 0px;
	z-index: 2;
	width: 100%;
	height: 60px;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-0-transition: .3s;
	transition: .3s;
}
figure:hover figcaption {
	right: 100%;
}

figcaption h3 {
	color: #fff;
	font-family-serif:　Georgia, "Times New Roman", Times, serif;
	padding: 0 0 0 40px;
	text-align: center;
}



/*google maps*/
.g_maps {
	width: 100%;
	height: 357px;
}

/*ーーーーItem page settingーーーー*/
/*close button setting*/
#glisse-close {
    background-color: #ccc;
    border: solid 1px #999;
    border-radius: 4px;
    position: fixed;
  	top:90px;
  	right: 120px;
  	height: 40px;
  	width: 40px;
  	background: url(/images/close.png) no-repeat center;
}


/*item gralley image-resize*/
#glisse-overlay {
  background: rgba(0,0,0.3);}

.image-resize {
	max-width: 100%;
	max-height: 262px;
}

* html body .image-resize {
	width: expression(this.width >= this.height ? "100%" : "auto");
	height: expression(this.width <= this.height ? "262px" : "auto");
}

@media screen and (min-width:768px) and ( max-width:990px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
	.image-resize {
		max-width: 700px;
		max-height: 450px;
	}

	* html body .image-resize {
		width: expression(this.width >= this.height ? "700px" : "auto");
		height: expression(this.width <= this.height ? "700px" : "auto");
	}
}

/*footer setting*/
.list-social-icons {
	font-size: 1.8em;
}

.copyright {
	padding: 20px 0 0 0;
}

.pixiv {
	padding: 10px 0 0 0;
}

/*smartphone setting*/
@media screen and (min-width:441px) and ( max-width:600px) {
	.g_maps{
		width: 100%;
		height: 100%;
	}
}

@media screen and (min-width:100px) and ( max-width:440px) {
	.g_maps{
		width: 100%;
		height: 100%;
	}

	figure {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	figcaption {
		position: absolute;
		bottom: 15px;
		right: 0px;
		z-index: 2;
		width: 100%;
		height: 60px;
		background: rgba(0,0,0,.6);
		-webkit-transition: .3s;
		-moz-transition: .3s;
		-0-transition: .3s;
		transition: .3s;
}